<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/add.css">
    <link rel="icon" href="../static/photo/oderman.jpg">
    <title>Add games</title>
</head>
<body>

    <section class="section">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-full">
                    <div class="box">
                        <h1 class="title has-text-centered">Add a new game</h1>
                        
                        <form action="/add_game/" method="POST">
                            <div class="field">
                                <label class="label" for="name">Name of the game</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="name" name="name" required placeholder="Name of the game">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-gamepad"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label" for="author">Author</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="author" name="author" required placeholder="Author">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label" for="release">Release</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="release" name="release" required placeholder="Release">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="description">Description</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="description" name="description" required placeholder="Description">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-align-left"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="photo">Photo</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="photo" name="photo" required placeholder="Photo URL">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-image"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="genre">Genre</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="genre" name="genre" required placeholder="Genre">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-theater-masks"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="os">OS</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="os" name="os" required placeholder="OS">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-desktop"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="processor">Processor</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="number" id="processor" name="processor" required placeholder="Processor">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-microchip"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="ram">RAM</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="number" id="ram" name="ram" required placeholder="RAM">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-memory"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label" for="video">Videocard</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="number" id="video" name="video" required placeholder="Video">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-video"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="space_on_pc">Space on PC</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="number" id="space_on_pc" name="space_on_pc" required placeholder="Space on PC">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hdd"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary is-fullwidth" type="submit">Add a new game</button>
                                </div>
                            </div>
                        </form>
                        
                        <div class="has-text-centered mt-4">
                            <a href="{{ url_for('menu_page') }}" class="button is-light">Back to menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
